<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IonSlider: no Controller support
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="myHeader">
      <ion-slides #headerSlider [options]="headerOpts">
        <ion-slide>
          <h5>Header 1</h5>
        </ion-slide>
        <ion-slide>
          <h5>Header 2</h5>
        </ion-slide>
        <ion-slide>
          <h5>Header 3</h5>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="myContent">
      <ion-slides #contentSlider [options]="contentOpts">
        <ion-slide>
          <p>Hi, I'm content slide 1</p>
        </ion-slide>
        <ion-slide>
          <p>Hi, I'm content slide 2</p>
        </ion-slide>
        <ion-slide>
          <p>Hi, I'm content slide 3</p>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
